@import url("https://fonts.googleapis.com/css?family=Rubik:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700");
@media only screen and (max-width: 1080px) {
  #reg_butt {
    padding: 10px; }
  .hero-text {
    padding-top: 10vh; }
  nav.navbar.navbar-expand-lg {
    width: 100%;
    margin: 0 0;
    padding-top: 20px; }
  a.nav-link {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center; }
  nav {
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease; }
  .nav-item .nav-link {
    font-size: 200px; } }

nav.navbar {
  width: 80%;
  margin: 0 auto;
  padding-top: 25px;
  z-index: 3000; }

header {
  height: 100vh;
  background: url("../img/hero-image.jpg");
  background-position: center;
  background-size: cover;
  -webkit-filter: greyscale(100%);
  filter: greyscale(100%); }

.nav-item {
  margin-left: 1em;
  margin-right: 1em; }

button.navbar-toggler {
  margin-left: 20px; }

.fa-bars {
  color: white; }

.event-logo {
  height: 50px; }

.nav-item .nav-link {
  font-size: 16px;
  font-family: Rubik;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .15em;
  color: white;
  -webkit-transition: color 300ms;
  -o-transition: color 300ms;
  transition: color 300ms; }
  .nav-item .nav-link:hover {
    color: rgba(207, 207, 207, 0.75);
    text-decoration: none; }

.hero-text {
  font-size: 4em;
  font-weight: bold;
  color: white;
  padding-top: 25vh;
  margin-left: 20px;
  margin-right: 20px;
  clear: both;
  text-align: center; }

.kicker-text {
  padding-top: 8px;
  padding-bottom: 75px;
  font-weight: 100;
  font-size: 1.5rem;
  color: white;
  text-align: center; }

.button-reg {
  color: white;
  letter-spacing: .2rem;
  text-transform: uppercase;
  font-weight: 600;
  background: red;
  width: 230px;
  border-radius: 50px;
  margin: 0 auto 0 auto;
  text-align: center;
  padding: 12px;
  text-decoration: none; }

.svgpos {
  position: relative;
  top: 200px;
  border: 1px yellow solid; }

.box {
  margin-top: 10vh; }

@media only screen and (max-width: 1080px) {
  #content-ted, #content-tedx, #content-tedxajce {
    font-style: normal;
    padding: 24px;
    font-size: 16px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.7); }
  #section-about.specifyclass {
    padding-bottom: 54px; } }

#section-about {
  background: white;
  width: 100%;
  padding-bottom: 72px;
  min-height: 70px; }

#about-box-card {
  border: 1px solid rgba(128, 128, 128, 0.24);
  position: relative;
  top: 5vh;
  background: url("../img/confetti.jpg");
    background-position: center;
    background-size: cover;
  width: 90vw;
  border-radius: 4px;
  -webkit-box-shadow: 14px 15px 36px 3px rgba(56, 41, 41, 0.12);
  box-shadow: 14px 15px 36px 3px rgba(56, 41, 41, 0.12);
  min-height: 30px;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease; }

#about-row-logo {
  padding-top: 80px; }

#about-logo-ted {
  width: 57%; }

#about-logo-ted, #about-logo-tedx, #about-logo-tedxajce {
  -webkit-filter: grayscale(1) opacity(0.7);
  filter: grayscale(1) opacity(0.7);
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  cursor: pointer; }

#content-container {
  margin-top: 0px; }

.about-content {
  padding: 80px;
  font-style: italic;
  font-size: 24px;
  line-height: 48px; }

.container.section-container {
  padding: 20px;
  min-height: 100vh; }

.section-container.owler {
  min-height: 103vh; }

#section-speakers {
  background: url("../img/speakers-bg.png");
    background-size: cover;
  padding: 20px;
  height: 60vh; }

#speaker-heading {
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  letter-spacing: 3px; }

#tobecont {
  text-align: center;
  color: white;
  font-size: 3em; }

.speaker-card {
  text-align: center;
  min-height: 400px;
  max-width: 300px;
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
  box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
  border-radius: .375rem;
  margin: 10px 10px 10px 10px;
  padding: 0 1.5rem 3rem; }

.speaker-card-carousel {
  text-align: center;
  min-height: 400px;
  width: 300px;
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
  box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
  border-radius: .375rem;
  margin: 10px 10px 10px 10px;
  padding: 0 1.5rem 3rem; }

.owl-item {
  margin-top: 30px; }

.owl-carousel .owl-item img {
  width: 60%;
  margin: 0 auto; }

.speaker-profile-image {
  position: relative;
  border-radius: 200px;
  width: 120px;
  margin-bottom: -15px;
  top: -40px;
  -webkit-box-shadow: 3px 8px 20px 0 rgba(46, 61, 73, 0.23);
  box-shadow: 3px 8px 20px 0 rgba(46, 61, 73, 0.23);
  border: 1px solid green; }

.speaker-name {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 3px;
  text-transform: uppercase; }

.speaker-description {
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 24px;
  color: #7d97ad; }

.speaker-about {
  font-size: 13px;
  line-height: 21px;
  color: #525c65; }

.w-100 {
  margin: 20px; }

.carousel-container {
  min-height: 75vh; }

.owl-prev {
  text-transform: uppercase;
  color: white;
  display: inline-block;
  float: left;
  margin-bottom: 10px;
  margin-left: 100px;
  padding: 0px 4px 0px 10px; }

.owl-next {
  text-transform: uppercase;
  color: white;
  display: inline-block;
  float: right;
  margin-right: 100px;
  padding: 0px 10px 0px 4px; }

.speaker-card-carousel {
  min-height: 468px; }

.speaker-card-carousel.slick-slide {
  min-height: 425px; }

.border {
  border: 3px solid blue; }

@media only screen and (max-width: 1080px) {
  #myfooter {
    height: 820px; }
  #contact, #links, #connect {
    padding-left: 60px; }
  #linkslist li a {
    line-height: 22px; }
  #connectlist li a {
    line-height: 22px; } }

body {
  position: relative; }

.page-footer {
  bottom: 0px;
  background: url("../img/footer-image.jpg");
  padding: 70px 0 0 0;
  height: 320px; }

.container {
  max-width: 98%;
  margin: 0 auto; }

.mainlogo {
  width: 69%;
  padding-bottom: 50px; }

.collegelogo {
  width: 70%;
  padding-bottom: 50px; }

.footerheading {
  display: inline-block;
  width: 150px;
  color: rgba(255, 255, 255, 0.89);
  font-size: 18px;
  font-weight: bold;
  letter-spacing: .08m; }

.detail-block {
  padding-bottom: 16px; }

li.details {
  color: rgba(255, 255, 255, 0.89);
  line-height: 21px;
  font-size: 14px; }

li.details a {
  color: rgba(255, 255, 255, 0.89);
  line-height: 29px; }

@media only screen and (max-width: 1080px) {
  .contain#spec-contain {
    margin: 10px 10px 10px 10px; } }

.contain {
  width: 100;
  height: 400px;
  margin: 40px;
  border-radius: 4px;
  -webkit-box-shadow: 5px 7px 20px -4px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 7px 20px -4px rgba(0, 0, 0, 0.4);
  overflow: hidden; }

#mapframe {
  width: 100;
  border: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 5px 7px 20px -4px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 7px 20px -4px rgba(0, 0, 0, 0.4); }

.data-contain {
  height: 100%;
  background: #FF0022; }

.venue-data {
  padding: 8px;
  color: white; }

#venue-name {
  padding-top: 80px;
  font-size: 2.5em;
  font-weight: bold;
  line-height: 48px; }

#venue-streetname, #venue-district {
  padding-right: 0;
  font-size: 1.5em; }

#venue-streetname {
  line-height: 0px; }

#contact-mail {
  margin-top: 64px;
  line-height: 0px; }

#contact-number {
  line-height: 0px; }

.box {
  background: white;
  width: 100%;
  height: 75vh;
  margin-left: 20px;
  margin-right: 20px; }

* {
  font-family: Open Sans; }

body {
  height: 350vh; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
