@import url("https://fonts.googleapis.com/css?family=Rubik:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700");
@media only screen and (max-width: 1080px) {
  #reg_butt {
    padding: 10px; }
  h1.hero-text#hero-text {
    font-size: 4em;
    padding-top: 12vh; }
  .hero-caption#hero-caption {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 10px; }
  nav.navbar.navbar-expand-lg {
    width: 100%;
    margin: 0 0;
    padding-top: 20px; }
  a.nav-link {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center; }
  nav {
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease; }
  .nav-item .nav-link {
    font-size: 200px; }
  h2.kicker-text {
    padding-top: 200px;
    padding-bottom: 16px; } }

nav.navbar {
  width: 80%;
  margin: 0 auto;
  padding-top: 25px;
  z-index: 3000; }

header {
  min-height: 105vh;
  background: url("../img/hero-image.jpg");
  background-position: center;
  background-size: cover;
  -webkit-filter: greyscale(100%);
  filter: greyscale(100%);
  padding-bottom: 16px; }

.nav-item {
  margin-left: 1em;
  margin-right: 1em; }

button.navbar-toggler {
  margin-left: 20px; }

.fa-bars {
  color: white; }

.event-logo {
  height: 50px; }

.nav-item .nav-link {
  font-size: 16px;
  font-family: Rubik;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .15em;
  color: white;
  -webkit-transition: color 300ms;
  -o-transition: color 300ms;
  transition: color 300ms; }
  .nav-item .nav-link:hover {
    color: rgba(207, 207, 207, 0.75);
    text-decoration: none; }

.hero-text {
  letter-spacing: 10px;
  font-size: 10em;
  font-weight: bold;
  color: white;
  padding-top: 15vh;
  margin-left: 20px;
  margin-right: 20px;
  clear: both;
  text-align: center; }

.hero-caption {
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 10px;
  text-align: center;
  margin-top: -10px; }

.kicker-text {
  padding-top: 90px;
  padding-bottom: 16px;
  font-style: 'Open Sans';
  font-weight: 400;
  font-size: 1.5rem;
  color: white;
  text-align: center; }

.button-reg {
  color: white;
  letter-spacing: .2rem;
  text-transform: uppercase;
  font-weight: 600;
  background: red;
  min-width: 230px;
  max-width: 300px;
  border-radius: 50px;
  margin: 0 auto 0 auto;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  position: relative;
  bottom: 0px; }
  .button-reg:hover {
    -webkit-box-shadow: rgba(255, 201, 201, 0.1) 0px 2px 2px, rgba(255, 201, 201, 0.1) 0px 4px 4px, rgba(255, 201, 201, 0.1) 0px 8px 8px, rgba(255, 201, 201, 0.1) 0px 16px 16px, rgba(255, 201, 201, 0.1) 0px 32px 32px;
    box-shadow: rgba(255, 201, 201, 0.1) 0px 2px 2px, rgba(255, 201, 201, 0.1) 0px 4px 4px, rgba(255, 201, 201, 0.1) 0px 8px 8px, rgba(255, 201, 201, 0.1) 0px 16px 16px, rgba(255, 201, 201, 0.1) 0px 32px 32px;
    bottom: 4px; }

.svgpos {
  position: relative;
  top: 200px;
  border: 1px yellow solid; }

sup {
  font-size: 10px;
  position: relative;
  top: -10px; }

.box {
  margin-top: 10vh; }

@media only screen and (max-width: 1080px) {
  #content-ted, #content-tedx, #content-tedxajce {
    font-style: normal;
    padding: 24px;
    font-size: 16px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.7); }
  #section-about.specifyclass {
    padding-bottom: 54px; } }

#section-about {
  background: white;
  width: 100%;
  padding-bottom: 72px;
  min-height: 75vh; }

#about-box-card {
  border: 1px solid rgba(128, 128, 128, 0.24);
  position: relative;
  top: 5vh;
  background: url("../img/confetti.jpg");
    background-position: center;
    background-size: cover;
  width: 90vw;
  border-radius: 4px;
  -webkit-box-shadow: 14px 15px 36px 3px rgba(0, 0, 0, 0.12);
  box-shadow: 14px 15px 36px 3px rgba(0, 0, 0, 0.12);
  min-height: 75vh;
  -webkit-transition: all 100ms ease;
  -o-transition: all 100ms ease;
  transition: all 100ms ease; }

#about-row-logo {
  padding-top: 80px; }

#about-logo-ted {
  width: 57%; }

#about-logo-ted, #about-logo-tedx, #about-logo-tedxajce {
  -webkit-filter: grayscale(1) opacity(0.7);
  filter: grayscale(1) opacity(0.7);
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  cursor: pointer; }

#content-container {
  margin-top: 0px; }

.about-content {
  padding: 80px;
  font-size: 1.5em;
  line-height: 1.9em;
  font-weight: 300;
  color: #525252; }

.container.section-container {
  padding: 20px;
  min-height: 100vh; }

.section-container.owler {
  min-height: 103vh; }

#section-speakers {
  background: url("../img/speakers-bg.png");
    background-size: cover;
  padding: 20px; }

#speaker-heading {
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  letter-spacing: 3px; }

#tobecont {
  text-align: center;
  color: white;
  font-size: 3em; }

.speaker-card {
  text-align: center;
  min-height: 400px;
  max-width: 300px;
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
  box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
  border-radius: .375rem;
  margin: 10px 10px 10px 10px;
  padding: 0 1.5rem 3rem; }

.speaker-card-carousel {
  text-align: center;
  min-height: 400px;
  width: 300px;
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
  box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
  border-radius: .375rem;
  margin: 10px 10px 10px 10px;
  padding: 0 1.5rem 3rem; }

.owl-item {
  margin-top: 30px; }

.owl-carousel .owl-item img {
  width: 60%;
  margin: 0 auto; }

.speaker-profile-image {
  position: relative;
  border-radius: 200px;
  width: 120px;
  margin-bottom: -15px;
  top: -40px;
  -webkit-box-shadow: 3px 8px 20px 0 rgba(46, 61, 73, 0.23);
  box-shadow: 3px 8px 20px 0 rgba(46, 61, 73, 0.23);
  border: 1px solid green; }

.speaker-name {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1em;
  text-transform: uppercase; }

.speaker-description {
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 20px;
  padding-top: 8px;
  color: #7d97ad; }

.speaker-about {
  font-size: 13px;
  line-height: 21px;
  color: #525c65; }

.w-100 {
  margin: 20px; }

.carousel-container {
  min-height: 75vh; }

.owl-prev {
  text-transform: uppercase;
  color: white;
  display: inline-block;
  float: left;
  margin-bottom: 10px;
  margin-left: 100px;
  margin-top: -8px;
  padding: 0px 4px 0px 10px; }

.owl-next {
  text-transform: uppercase;
  color: white;
  display: inline-block;
  float: right;
  margin-right: 100px;
  margin-top: -8px;
  padding: 0px 10px 0px 4px; }

.speaker-card-carousel {
  min-height: 468px; }

.speaker-card-carousel.slick-slide {
  min-height: 425px; }

.border {
  border: 3px solid blue; }

@media only screen and (max-width: 1080px) {
  #myfooter {
    height: 820px;
    position: relative; }
  #contact, #links, #connect {
    padding-left: 60px; }
  #linkslist li a {
    line-height: 22px; }
  #connectlist li a {
    line-height: 22px; } }

body {
  position: relative; }

.page-footer {
  bottom: 0px;
  background: url("../img/footer-image.jpg");
  padding: 70px 0 0 0;
  height: 320px; }

.container {
  max-width: 98%;
  margin: 0 auto; }

.mainlogo {
  width: 69%;
  padding-bottom: 50px; }

.collegelogo {
  width: 70%;
  padding-bottom: 50px; }

.footerheading {
  display: inline-block;
  width: 150px;
  color: rgba(255, 255, 255, 0.89);
  font-size: 18px;
  font-weight: bold;
  letter-spacing: .08m; }

.detail-block {
  padding-bottom: 16px; }

li.details {
  color: rgba(255, 255, 255, 0.89);
  line-height: 21px;
  font-size: 14px; }

li.details a {
  color: rgba(255, 255, 255, 0.89);
  line-height: 29px; }

@media only screen and (max-width: 1080px) {
  .downsize {
    width: 92%;
    margin: 0 auto; }
  div.data2-contain {
    background-position-y: 0; }
  p#venue-room {
    margin-top: 1vh; }
  p#section-venue-title {
    margin-bottom: 0; }
  iframe#mapframe {
    height: 55vh; } }

#section-venue {
  margin-bottom: 32px;
  border: 1px solid white; }

.contain {
  margin: 40px;
  border-radius: 4px;
  overflow: visible; }

.data2-contain {
  background: url("../img/venue2.jpg");
  background-size: cover;
  background-position-y: 536px;
  padding: 6px 0 6px 20px;
  -webkit-box-shadow: 5px 7px 20px -4px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 7px 20px -4px rgba(0, 0, 0, 0.4);
  max-height: 100%;
  min-height: 100%; }

#mapframe {
  width: 100;
  border: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 5px 7px 20px -4px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 7px 20px -4px rgba(0, 0, 0, 0.4); }

.data-contain {
  height: 100%; }

.venue-data {
  color: white;
  word-wrap: break-word; }

#venue-name {
  font-size: 2.5em;
  line-height: 48px;
  margin: 0; }

#venue-streetname, #venue-district {
  padding-right: 0;
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: 24px; }

#contact-mail {
  margin-top: 16px;
  line-height: 1em;
  margin-bottom: 0;
  font-weight: 300; }

#contact-number {
  display: inline-block;
  line-height: 1em;
  margin-bottom: 10px;
  margin-top: -10px; }

#venue-room {
  line-height: 1em;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 13vh; }

#section-venue-title {
  display: inline-block;
  font-size: 2.95em;
  font-weight: bold;
  padding: 16px 0 0 0; }

@media only screen and (max-width: 1080px) {
  p.section-write-up {
    float: none;
    width: auto;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: black; }
  h2.section-title {
    display: none; }
  h2#small-display {
    display: inline;
    line-height: 48px;
    font-size: 2.95em;
    font-weight: bold;
    text-align: center; }
  div#section-theme {
    padding-top: 0px; }
  div.container.theme-section-container {
    width: auto; } }

#small-display {
  display: none; }

#section-theme {
  background-color: url("./img/themebg.jpg");
  padding-top: 100px;
  min-height: 100vh; }

.section-write-up {
  float: right;
  margin: 0;
  width: 50vw;
  padding-top: 12px;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 40px;
  text-align: right;
  text-justify: auto;
  color: #424242; }

.theme-section-container {
  width: 90vw;
  padding: 40px; }

.section-title {
  float: right;
  font-size: 2.95em;
  font-weight: bold; }

.bigx {
  width: 450px; }

.section-title-wrapper {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 10px; }

@media only screen and (max-width: 1080px) {
  img#sponsor-logo {
    margin: 0; } }

#section-sponsor {
  max-height: 50vh; }

#sponsor-title {
  font-weight: bold;
  font-size: 2.3em;
  text-align: center; }

#sponsor-logo {
  display: inline;
  margin: -45px 17% 0 28%; }

::moz-selection {
  color: red;
  background: black; }

::seclection {
  color: red;
  background: black; }

.box {
  background: white;
  width: 100%;
  height: 75vh;
  margin-left: 20px;
  margin-right: 20px; }

* {
  font-family: Roboto; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

body {
  height: 350vh;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' viewBox='0 0 192 192'%3E%3Cpath fill='%23dd0303' fill-opacity='0.044' d='M192 15v2a11 11 0 0 0-11 11c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H145v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11 13 13 0 1 1 .02 26 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43a6.1 6.1 0 0 0-3.03 4.87V143h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 181 164a11 11 0 0 0 11 11v2a13 13 0 0 1-13-13 12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84a6.1 6.1 0 0 0-4.87-3.03H145v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 124 181a11 11 0 0 0-11 11h-2a13 13 0 0 1 13-13c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43a6.1 6.1 0 0 0 3.03-4.87V145h-35.02a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 107 124a11 11 0 0 0-22 0c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H49v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11A13 13 0 0 1 81 192h-2a11 11 0 0 0-11-11c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V145H11.98a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 0 1 0 177v-2a11 11 0 0 0 11-11c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H47v-35.02a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 28 109a13 13 0 1 1 0-26c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43A6.1 6.1 0 0 0 47 84.02V49H11.98a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 11 28 11 11 0 0 0 0 17v-2a13 13 0 0 1 13 13c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84A6.1 6.1 0 0 0 11.98 47H47V11.98a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 68 11 11 11 0 0 0 79 0h2a13 13 0 0 1-13 13 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43A6.1 6.1 0 0 0 49 11.98V47h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 85 68a11 11 0 0 0 22 0c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H143V11.98a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 124 13a13 13 0 0 1-13-13h2a11 11 0 0 0 11 11c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V47h35.02a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 179 28a13 13 0 0 1 13-13zM84.02 143a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 83 124a13 13 0 1 1 26 0c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84a6.1 6.1 0 0 0 4.87 3.03H143v-35.02a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 164 107a11 11 0 0 0 0-22c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V49h-35.02a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 1 1 83 68a12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84A6.1 6.1 0 0 0 84.02 49H49v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 28 85a11 11 0 0 0 0 22c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V143h35.02z'%3E%3C/path%3E%3C/svg%3E"); }
