$header-height: 100vh
$bounds: 1px yellow solid
@media only screen and (max-width: 1080px)
    nav.navbar.navbar-expand-lg
        background: rgba(0, 0, 0, 0.7)
    .nav-link
        text-align: center 
    .nav-item
        padding-bottom: 20px
        padding-top: 20px
    .hero-text
        padding-top: $header-height/3 
    .nav-item .nav-link
        font-size: 30px

nav.navbar.navbar-expand-lg
        background: rgba(0, 0, 0, 0.7)

header
    height: $header-height
    background: url('../img/hero-image.jpg')
    background:
        position: center
        size: cover
    filter: greyscale(100%)

.nav-item
    margin-left: 1em
    margin-right: 1em

.fa-bars
    color: white

.event-logo
    height: 50px
    
.nav-item .nav-link
    font:
        size: 18px
        family: Rubik
        weight: 500
    text-transform: uppercase
    text-decoration: none
    letter-spacing: .15em
    color: white
    transition: color 300ms
    &:hover
        color: rgba(207, 207, 207, 0.75)
        text-decoration: none

.hero-text
    font-weight: 100
    color: $font-color-darkbg
    padding-top: $header-height/4
    margin:
        left: 20px
        right: 20px
    clear: both
    text-align: center

.kicker-text
    padding:
        top: 10px
        bottom: 75px
    font:
        weight: 100
        size: 1.5rem

    color: $font-color-darkbg
    text-align: center

.button-reg
    color: $font-color-darkbg
    letter-spacing: .2rem
    text:
        transform: uppercase
    font:
        weight: 600
    background: red
    width: 230px
    border-radius: 50px
    margin: 0 auto 0 auto
    text-align: center
    padding: 12px