//font imports
//Rubik
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700');
//Open Sans

//Brandon Grotesque



// font and stuff
$global-font : Open Sans
$font-color-darkbg: white
$font-color-lightbg: black
//colors and stuff