body {
  background: white;
  font-weight: medium; }

.container {
  min-height: 100vh;
  min-width: 90%;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-bottom: 120px;
  border-radius: 6px;
  -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }

.vc-heading {
  text-align: center;
  padding: 40px 24px 24px 24px; }

.colorer {
  color: red;
  font-weight: bold;
  display: inline-block;
  margin-right: -.2em; }

.bolder {
  font-weight: bold;
  margin-left: .2em; }

.vc-caption {
  text-align: center;
  margin-top: 32px;
  font-size: 1.3em; }

.vc-subheadings {
  padding-left: 40px;
  padding-top: 40px; }

.vc-subsubheadings {
  padding-left: 40px;
  padding-top: 40px; }

.vc-contents {
  padding-right: 40px;
  padding-left: 40px; }

.vc-horizline {
  margin: 40px 400px 40px 40px; }

.vc-buttonthingy-container {
  margin-top: 60px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.vc-buttonthingy {
  text-align: center;
  width: 120px;
  margin: 0 auto 16px auto;
  background: red;
  text-transform: uppercase;
  font-size: 16px;
  padding: 8px;
  letter-spacing: 2px;
  font-weight: 600;
  color: white;
  border-radius: 100px;
  text-decoration: none;
  -webkit-box-shadow: 0 2px 2px 0 rgba(233, 30, 99, 0.14), 0 3px 1px -2px rgba(233, 30, 99, 0.2), 0 1px 5px 0 rgba(233, 30, 99, 0.12);
  box-shadow: 0 2px 2px 0 rgba(233, 30, 99, 0.14), 0 3px 1px -2px rgba(233, 30, 99, 0.2), 0 1px 5px 0 rgba(233, 30, 99, 0.12);
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease; }
  .vc-buttonthingy:hover {
    -webkit-box-shadow: 0 14px 26px -12px rgba(241, 10, 10, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(233, 30, 30, 0.2);
    box-shadow: 0 14px 26px -12px rgba(241, 10, 10, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(233, 30, 30, 0.2); }

.disclaimer {
  color: grey;
  font-weight: 100;
  line-height: 24px; }
